.contacts-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    gap: 1rem;
    margin-top: auto;
}

.contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
}

.contact-item-icon {
    height: 6vh;
    width: 4vw;
    object-fit: contain;
}

.contact-item-icon:hover {
    cursor: pointer;
}

.icon-clicked {
    border: 1px solid #ff9800;
    border-radius: 0.5rem;
    transition: opacity 0.5s ease;
    opacity: 1;
}

@media (max-width: 600px) {
    .contacts-container {
        margin-top: 2rem;
    }
}

@media (max-width: 400px) {
    .contacts-container {
        flex-direction: column;
        gap: 1rem;
    }
    .contact-item-icon {
        width: 16vw;
        height: 5vh;
    }
}
